<ng-container [formGroup]="myFormGroup" >
    <label id="label-{{key.name}}">{{key.name}}</label>
    
            <ng-container *ngFor="let child of key.meta.child">
                <ng-container [ngSwitch]="child.meta.input">


                    <mea-input-number *ngSwitchCase="'number'"
                    [form-group]="myFormGroup" [key]="child"></mea-input-number>
                <mea-input-textarea *ngSwitchCase="'textarea'"
                    [form-group]="myFormGroup" [key]="child"></mea-input-textarea>
                <mea-input-email *ngSwitchCase="'email'" [form-group]="myFormGroup"
                    [key]="child"></mea-input-email>
                <mea-input-date *ngSwitchCase="'date'" [form-group]="myFormGroup"
                    [key]="child"></mea-input-date>
                <mea-input-datetime *ngSwitchCase="'datetime'"
                    [form-group]="myFormGroup" [key]="child"></mea-input-datetime>
                <mea-input-tel *ngSwitchCase="'tel'" [form-group]="myFormGroup" [key]="child"></mea-input-tel>
                <mea-input-password *ngSwitchCase="'password'"
                    [form-group]="myFormGroup" [key]="child"></mea-input-password>
                <mea-input-url *ngSwitchCase="'url'" [form-group]="myFormGroup" [key]="child"></mea-input-url>
                <mea-input-image *ngSwitchCase="'image'" [form-group]="myFormGroup"
                    [key]="child"></mea-input-image>
                <mea-input-file *ngSwitchCase="'file'" [form-group]="myFormGroup"
                    [key]="child"></mea-input-file>
                <mea-input-checkbox *ngSwitchCase="'checkbox'"
                    [form-group]="myFormGroup" [key]="child"></mea-input-checkbox>
                <mea-input-text *ngSwitchCase="'text'" [form-group]="myFormGroup"
                    [key]="child"></mea-input-text>

                <mea-input-list *ngSwitchCase="'list'" [parent]='parent+i' [form-group]="myFormGroup"
                    [key]="child"></mea-input-list>
                <mea-input-select *ngSwitchCase="'select'" [parent]='parent+i' [index]="i"
                    [form-group]="myFormGroup" [key]="child"></mea-input-select>

                <mea-input-dual-list *ngSwitchCase="'dual_list'" [parent]='parent+i' [index]="i"
                    [form-group]="myFormGroup" [key]="child"></mea-input-dual-list>



                <mea-input-multi *ngSwitchCase="'multi'" [parent]='parent+i+child.name' [index]="i"
                    [(form-group)]="myFormGroup" [key]="child"></mea-input-multi>
                <mea-input-dict *ngSwitchCase="'dict'" [parent]='parent+i+child.name' [index]="i" [(form-group)]="myFormGroup"
                    [key]="child"></mea-input-dict>

                </ng-container>
            </ng-container>
        
    
</ng-container>