<mat-form-field class="columns" [formGroup]="myFormGroup" #imageInput appearance="standard">

    <mat-label *ngIf="selectedFiles; else newFile">{{selectedFiles.item(0).name}}</mat-label>
    <ng-template #newFile>
        <mat-label>{{key.name}} </mat-label>
    </ng-template>
    <input matInput disabled (click)="fileInput.click()">
    <button mat-icon-button matSuffix (click)="fileInput.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
    <input hidden (change)="uploadFile($event,key.name)" #fileInput type="file">
</mat-form-field>