<mat-toolbar >
    <mat-icon *ngIf="showIcon && key.meta.show_icon.create" matSuffix>{{key.meta.icon}}</mat-icon>
    <mat-label *ngIf="showLabel && key.meta.show_label.create"><span *ngIf="!key.meta.label">{{key.name}}</span><span *ngIf="key.meta.label">{{key.meta.label}}</span><span *ngIf="key.meta.required" style="color: red;"> *</span></mat-label>
    <span style="flex: 1 1 auto;"></span>
    
    <mat-hint *ngIf="showHint  && key.meta.show_hint">{{key.meta.hint}}</mat-hint>

            <span style="flex: 1 1 auto;"></span>
            <button mat-icon-button (click)="addChildForm(myFormGroup,key)">
                <mat-icon>add</mat-icon> 
            </button>
    </mat-toolbar>
<mat-card [ngStyle]="{'background-color': bgColor}">
<div *ngIf="showPre && key.meta.show_create_pre" [innerHtml]="key.meta.pre_create"></div>
    <ng-container [formGroup]="myFormGroup">
        
    <mat-card-content >

        <ng-container formArrayName="{{key.name}}"
            *ngFor="let childForm of myFormGroup.get(key.name)['controls'];let i=index">
           
            <mat-card class="item">
                <div *ngIf="i>0" style="text-align: right;">
                    <button mat-icon-button (click)="removeChildForm(myFormGroup,key,i)">
                      <mat-icon>close</mat-icon>
                    </button>
                </div>  
            <ng-container formGroupName="{{i}}">
                <ng-container *ngFor="let child of key.meta.child">
                    <ng-container [ngSwitch]="child.meta.input">




                            <mea-input-text *ngSwitchCase="'text'" [form-group]="myFormGroup.get(key.name)['controls'][i]"
                            [key]="child"></mea-input-text>
                            
                        <mea-input-number *ngSwitchCase="'number'"
                        [form-group]="myFormGroup.get(key.name)['controls'][i]" [key]="child"></mea-input-number>
                    <mea-input-textarea *ngSwitchCase="'textarea'"
                        [form-group]="myFormGroup.get(key.name)['controls'][i]" [key]="child"></mea-input-textarea>
                    <mea-input-email *ngSwitchCase="'email'" [form-group]="myFormGroup.get(key.name)['controls'][i]"
                        [key]="child"></mea-input-email>
                    <mea-input-date *ngSwitchCase="'date'" [form-group]="myFormGroup.get(key.name)['controls'][i]"
                        [key]="child"></mea-input-date>
                    <mea-input-datetime *ngSwitchCase="'datetime'"
                        [form-group]="myFormGroup.get(key.name)['controls'][i]" [key]="child"></mea-input-datetime>
                    <mea-input-tel *ngSwitchCase="'tel'" [form-group]="myFormGroup.get(key.name)['controls'][i]" [key]="child"></mea-input-tel>
                    <mea-input-password *ngSwitchCase="'password'"
                        [form-group]="myFormGroup.get(key.name)['controls'][i]" [key]="child"></mea-input-password>
                    <mea-input-url *ngSwitchCase="'url'" [form-group]="myFormGroup.get(key.name)['controls'][i]" [key]="child"></mea-input-url>
                    <mea-input-image *ngSwitchCase="'image'" [form-group]="myFormGroup.get(key.name)['controls'][i]"
                        [key]="child"></mea-input-image>
                    <mea-input-file *ngSwitchCase="'file'" [form-group]="myFormGroup.get(key.name)['controls'][i]"
                        [key]="child"></mea-input-file>
                    <mea-input-checkbox *ngSwitchCase="'checkbox'"
                        [form-group]="myFormGroup.get(key.name)['controls'][i]" [key]="child"></mea-input-checkbox>
                        <mea-input-list *ngSwitchCase="'list'" [parent]='parent+i' [form-group]="myFormGroup.get(key.name)['controls'][i]"
                        [key]="child"></mea-input-list>
                    <mea-input-select *ngSwitchCase="'select'" [parent]='parent+i' [index]="i"
                        [form-group]="myFormGroup.get(key.name)['controls'][i]" [key]="child"></mea-input-select>

                    <mea-input-dual-list *ngSwitchCase="'selectmulti'" [parent]='parent+i' [index]="i"
                        [form-group]="myFormGroup.get(key.name)['controls'][i]" [key]="child"></mea-input-dual-list>

                        <mea-input-dict *ngSwitchCase="'dict'" [(form-group)]="myFormGroup.get(key.name)['controls'][i]"
                        [key]="child"></mea-input-dict>

                    <mea-input-multi *ngSwitchCase="'multi'" [parent]='parent+i+child.name' [index]="i"
                        [(form-group)]="myFormGroup.get(key.name)['controls'][i]" [key]="child"></mea-input-multi>
                    
                        <mea-input-combo *ngSwitchCase="'combo'"  [(form-group)]="myFormGroup.get(key.name)['controls'][i]" [key]="child"></mea-input-combo>
                    

                    </ng-container>
                </ng-container>
            </ng-container>
            </mat-card>

        </ng-container>
    </mat-card-content>

    </ng-container>
<div *ngIf="showAfter && key.meta.show_create_after" [innerHtml]="key.meta.after_create"></div>

</mat-card>