<form [formGroup]="myFormGroup">

    <div *ngFor="let key of form">
        <div [ngSwitch]="key.value.input">
            <div *ngSwitchCase="'text'">
                <ng-content select="mea-input-text" [form-group]="myFormGroup" [key]="key"></ng-content>
            </div>
            <div *ngSwitchCase="'number'">
                <ng-content select="mea-input-number" [form-group]="myFormGroup" [key]="key"></ng-content>
            </div>
            <div *ngSwitchCase="'textarea'">
                <ng-content select="mea-input-textarea" [form-group]="myFormGroup" [key]="key"></ng-content>
            </div>
            <div *ngSwitchCase="'email'">
                <ng-content select="mea-input-email" [form-group]="myFormGroup" [key]="key"></ng-content>
            </div>
            <div *ngSwitchCase="'date'">
                <ng-content select="mea-input-date" [form-group]="myFormGroup" [key]="key"></ng-content>
            </div>
            <div *ngSwitchCase="'datetime'">
                <ng-content select="mea-input-datetime" [form-group]="myFormGroup" [key]="key"></ng-content>
            </div>
            <div *ngSwitchCase="'tel'">
<ng-content select="mea-input-tel"></ng-content>
            </div>
            <div *ngSwitchCase="'password'">
                <ng-content select="mea-input-password" [form-group]="myFormGroup" [key]="key"></ng-content>
                            </div>
            <div *ngSwitchCase="'url'" >
                <ng-content select="mea-input-url" [form-group]="myFormGroup" [key]="key"></ng-content>
            </div>
            <div *ngSwitchCase="'image'">
                <ng-content select="mea-input-image" [form-group]="myFormGroup" [key]="key"></ng-content>
            </div>
            <div *ngSwitchCase="'file'" >
                <ng-content select="mea-input-file" [form-group]="myFormGroup" [key]="key"></ng-content>
            </div>
            <div *ngSwitchCase="'checkbox'" >
                <ng-content select="mea-input-checkbox" [form-group]="myFormGroup" [key]="key"></ng-content>
            </div>
            <div *ngSwitchCase="'select'" >
                <ng-content select="mea-input-select"  [options]="options[key.name]" [form-group]="myFormGroup" [key]="key"></ng-content>
            </div>
            <div *ngSwitchCase="'selectradio'" >
                <ng-content select="mea-input-radio"  [options]="key.value.allowed" [form-group]="myFormGroup" [key]="key"></ng-content>
            </div>
            <div *ngSwitchCase="'list'" >
                <ng-content select="mea-input-list" [selected]="selected[key.name]" [form-group]="myFormGroup" [key]="key"></ng-content>
            </div>
            <div *ngSwitchCase="'multitext'" >
                <ng-content select="mea-input-multi"  [(selected)]="selected" [(options)]="options" [form-group]="myFormGroup" [key]="key"></ng-content>
            </div>
        </div>
    </div>
</form>