<h2 mat-dialog-title>View {{resource}}</h2>

<mat-dialog-content>

  <table>
    <thead>
      <tr>
        <ng-container *ngFor="let key of form">
          <td>{{key.name}}</td>
        </ng-container>
        <td colspan="2">Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <ng-container *ngFor="let key of form">
          <td >

            <a (click)="details(item)">
              <ng-container [ngSwitch]="key.value.type">
                <ng-container *ngSwitchCase="'select'">
                  {{objectKeys(item[key.name])}}
                </ng-container>
                <ng-container *ngSwitchCase="'image'">
                  <ng-container *ngIf="item[key.name]">
                  <img [src]="loadMedia(item[key.name])">
                </ng-container>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  {{item[key.name]}}
                </ng-container>
                
              </ng-container>
            </a>
          </td>
        </ng-container>

        <td><button mat-button color="primary" type="button" (click)="update(item)">Update</button></td>
        <td><button mat-button color="warn" type="button" (click)="delete(item)">Delete</button></td>
      </tr>
    </tbody>
  </table>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="create()">Create</button>
  <button mat-button color="primary" matDialogClose>Close</button>
</mat-dialog-actions>