<mat-form-field  [formGroup]="myFormGroup" appearance="standard">
    <mat-label>{{key.name}}</mat-label>
    <mat-select formControlName="{{key.name}}">
        <mat-option *ngFor="let item of key.value.options[parent+key.name]" [value]="item._id||item">
            {{item.name||item}}
        </mat-option>
    </mat-select>
    
    <mat-placeholder>{{key.name}}</mat-placeholder>
</mat-form-field>
<button mat-icon-button matSuffix (click)="create(key.value.data_relation.resource)" >
    <mat-icon>note_add</mat-icon>
</button>